.body{
    display: flex;
    justify-content: center; /* توسيط أفقياً */
    align-items: center; /* توسيط عمودياً */
    height: 100vh; /* استخدام كامل ارتفاع الشاشة */
    margin: 0;
    background-color: rgb(145, 211, 211); /* لون خلفية الصفحة */

}
.login-container {
    background-color: rgb(211, 221, 243); /* لون المستطيل مع شفافية */
    color: rgb(19, 18, 18); /* لون النص */
    padding: 80px; /* مسافة داخلية */
    height: 50hv;
    border-radius: 15px; /* زوايا مستديرة */
    width: 350px; /* عرض المستطيل */
    text-align:left; /* تنسيق النصوص في الوسط */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* ظل لإضافة عمق */
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

/*ميم العناوين */
.login-container label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    text-transform: uppercase;
}

input{
   display: flexbox;
   color: rgb(92, 93, 94);
   background-color: rgb(248, 246, 242);
   transition: 4px;
   font-size:xx-large;
   padding: 2px;
   border-radius: 20px;
}
input:hover{
    color: antiquewhite;
}
.button{
    color: rgb(252, 249, 245);
    border-radius: 20px;
    font-size: x-large;
}

.label{
    text-size-adjust:initial;
    text-decoration-color: black;
    text-transform: uppercase;
    transition: 100px;
}
.link {
    color: #007BFF; /* لون النص */
    text-decoration: none; /* إزالة الخط السفلي */
    font-size: 18px; /* حجم النص */
    font-weight: bold; /* جعل النص غامقًا */
    transition: color 0.3s ease; /* تأثير انتقال سلس */
  }
  
  .link:hover {
    color: #0056b3; /* تغيير اللون عند التمرير */
    text-decoration: underline; /* إضافة خط عند التمرير */
  }
