<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Records</title>
</head>
<body>
    <form method="POST" action="{% url 'views.test_view' %}">
        {% csrf_token %}
    <table>
        <tr>
            <th>Username</th>
            <th>Email</th>
        </tr>
        {% for record in records %}
        <tr>
            <td>{{ record.username }}</td>
            <td>{{ record.email }}</td>
        </tr>
        {% endfor %}
    </table>
    </form>
    
</body>
</html>